[Desktop Entry]
Type=Application
Name=Etakit Kilit Ayarları
Comment=Tahta kilidinin ayarlarını açar
Exec=/usr/bin/etakit-kilit --settings
Icon=preferences-system
Terminal=false
StartupNotify=true
Categories=Settings;Utility;
Keywords=etakit;kilit;ayarlar;
