[Desktop Entry]
Type=Application
Name=Etakit Kilit
Comment=Etkileşimli tahta kilidini başlatır
Exec=/usr/libexec/etakit-kilit-start
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
